---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import content from "../data/content.json";
import ContactSection from "../components/ContactSection.astro";

export async function getStaticPaths() {
  return [
    { params: { proyect: "McDonald's" } },
    { params: { proyect: "007" } },
    { params: { proyect: "012" } },
    { params: { proyect: "015" } },
    { params: { proyect: "ESSNTLS 3" } },
    { params: { proyect: "REBRANDING" } },
    { params: { proyect: "CannaBubu" } },
    { params: { proyect: "MyMoonCustoms" } },
  ];
}
export const prerender = true;

const { proyect } = Astro.params;

// Fetch content from content.json
const projectContent = content[0];

const title = projectContent[proyect].title;
const description = projectContent[proyect].description;
const features = projectContent[proyect].features;
const featuredImage = projectContent[proyect].featuredImage;
const featuredVideo = projectContent[proyect].featuredVideo;
const extraVideo = projectContent[proyect].extraVideo;
const stackUsed = projectContent[proyect].stackUsed;
let key = 0;
---

<Layout title={`Proyecto ${proyect}`}>
  <aside transition:name="hero">
    <main class="bg-gray-950">
      <nav class="flex justify-between items-center p-4">
        <a href="/" class="text-2xl font-bold text-[#ffc232]">BACK</a>
      </nav>
      <article class="flex-col flex items-center justify-center">
        <h2 class="text-3xl mt-4 font-bold text-center">{title}</h2>
        <img src=`/${featuredImage}` alt=`${featuredImage}` class="w-2/4" />
        <ul class="flex flex-col items-center justify-center">
          <li
            class="text-2xl text-[#ffc232] m-4 font-extrabold text-center p-4"
          >
            {description}
          </li>
          <img
            src=`videos/${featuredVideo}`
            alt=`${featuredVideo}`
            class="w-[95%] rounded-md m-2"
          />
          {
            extraVideo && (
              <img
                src={"videos/" + extraVideo}
                alt={extraVideo}
                class="w-[95%] rounded-md m-2"
              />
            )
          }
          {
            features &&
              features.map((feature, index) => (
                <li key={index} class="text-xl m-4 font-bold text-left p-2">
                  {feature}
                </li>
              ))
          }
        </ul>
      </article>
      <h3 class="text-center text-3xl">Stack utilizado</h3>
      <article
        class="flex flex-row flex-auto flex-wrap items-center justify-center"
      >
        {
          stackUsed &&
            stackUsed.map((stack) => (
              <img src={stack} alt={stack} class="w-[50px] m-3" />
            ))
        }
      </article>
    </main>
    <ContactSection />
  </aside>
</Layout>
<style>
  html {
    scroll-behavior: smooth;
    background-color: #030712;
  }
</style>
