---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import content from "../data/content.json";

export async function getStaticPaths() {
  return [
    { params: { proyect: "McDonald's" } },
    { params: { proyect: "007" } },
    { params: { proyect: "012" } },
    { params: { proyect: "015" } },
    { params: { proyect: "ESSNTLS 3" } },
    { params: { proyect: "REBRANDING" } },
    { params: { proyect: "CannaBubu" } },
    { params: { proyect: "MyMoonCustoms" } },
  ];
}
export const prerender = true;

const { proyect } = Astro.params;

// Fetch content from content.json
const projectContent = content[0];

const title = projectContent[proyect].title;
const description = projectContent[proyect].description;
const features = projectContent[proyect].features;
const featuredImage = projectContent[proyect].featuredImage;
let key = 0;
---

<Layout title={`Proyecto ${proyect}`}>
  <aside transition:name="hero">
    <main class="bg-gray-950">
      <article class="mt-28 flex-col flex items-center justify-center">
        <h2 class="text-3xl m-12 font-bold text-center">{title}</h2>
        <img src=`/${featuredImage}` alt=`${featuredImage}` class="w-2/4" />
        <ul>
          <li
            class="text-2xl text-[#ffc232] m-4 font-extrabold text-center p-4"
          >
            {description}
          </li>
          {
            features &&
              features.map((feature, index) => (
                <li key={index} class="text-xl m-4 font-bold text-left p-2">
                  {feature}
                </li>
              ))
          }
        </ul>
      </article>
    </main>
    <Footer />
  </aside>
</Layout>
<style>
  html {
    scroll-behavior: smooth;
    background-color: #030712;
  }
</style>
