---
interface Props {
  logo: string;
  title: string;
}

const { logo, title } = Astro.props;
console.log(title);
---

<a
  href={`/${title}`}
  class="w-48 m-2 rounded-md flex flex-col items-center justify-evenly bg-white shadow-md h-48 sm:h-60 sm:w-48 hover:shadow-2xl transition-shadow duration-300 ease-in-out"
>
  <div class="flex flex-col items-center">
    <div
      class="flex justify-center items-center w-24 h-24 sm:w-28 sm:h-28"
      transition:name=`proyect-${title}`
    >
      <img src={logo} class="object-contain w-full h-full" />
    </div>
    <div class="w-full flex items-center justify-center">
      <h2 class="text-sm text-center" transition:name=`title-${title}`>
        {title}
      </h2>
    </div>
  </div>
</a>
